// Quicksand
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/Quicksand-VariableFont_wght.ttf');
//    font-variation-settings: 'wdth' 700, 'wght' 300;
//    font-display: fallback;
//}
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/static/Quicksand-Light.ttf');
//    font-weight: 300;
//    font-style: normal;
//    font-display: fallback;
//}
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/static/Quicksand-Regular.ttf');
//    font-weight: 400;
//    font-style: normal;
//    font-display: fallback;
//}
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/static/Quicksand-Medium.ttf');
//    font-weight: 500;
//    font-style: normal;
//    font-display: fallback;
//}
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/static/Quicksand-SemiBold.ttf');
//    font-weight: 600;
//    font-style: normal;
//    font-display: fallback;
//}
//@font-face {
//    font-family: 'Quicksand';
//    src: url('../assets/fonts/quicksand/static/Quicksand-Bold.ttf');
//    font-weight: 700;
//    font-style: normal;
//    font-display: fallback;
//}

// Catamaran
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Thin.ttf');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Catamaran';
    src: url('../assets/fonts/Catamaran/Catamaran-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}
